@import url("./../css/const.css");

footer {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.default-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: var(--color-text-primary);
}

body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--color-primary);
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.fade {
    transition: opacity 1s ease;
}