/* body {
    display: flex;
    flex-direction: column;
} */

#home,
#sobre-nos {
    height: 100%;
    position: relative;
}

#home {
    display: block;
}

/* #cases-sucesso {
    height: auto;
} */

@media (orientation: portrait) {
    #sobre-nos {
        height: auto;
    }

}