@import url("./../css/const.css");

footer {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 400px;
}

footer img {
    object-fit: scale-down;
    width: 49%;
}

#links {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 49%;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 49%;
}

#social-media svg {
    width: 32px;
    height: 32px;
}

#adress {
    text-align: center;
    width: 49%;
}


@media (orientation: landscape) {
    footer img {
        width: 20%;
    }
    
    #links {
        width: 20%;
    }
    
    #social-media {
        width: 20%;
    }
    
    #adress {
        width: 20%;
    }
}