@import url(./const.css);

header {
  padding: 14px;
  max-height: 200px;
  background-color: var(--color-primary);
}

header nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav img {
  width: 50%;
}