*{
    margin: 0;
}

.Menu {
    border: 2px black solid;
    position: sticky;
    background-color: #ffffff;
}

.Menu img {
    width: 10%;
    height: 15%;

}
 #FraseEsquerda {
    color: #452982;
    padding: 3px;
    margin: 5px;
    font-size: 32px;
}

#FraseCentro {
    color: #452982;
    padding: 3px;
    margin: 5px;
    align-items: center;
    font-size: 32px;
}
#FraseDireita {
    color: #452982;
    padding: 3px;
    float: right;
    margin: 5px;
    font-size: 32px;
}